// About styles

#about {
    background-color: $mainColour;
    position: relative;

    .fa-smile {
        color: $accentColour2;
    }
}

.wave2 {
    // display: none;
    width: 40vw;
    position: absolute;
    bottom: -96px;
    right: 30px;
    z-index: 5;
}