// About styles

#about {
    background-color: $mainColour;
    position: relative;

     a {
        text-decoration: none;
        position: relative;
        color: $accentColour1;

        &:hover {
            text-decoration: underline;
        }

        &:visited {
            color: $accentColour;
        }
    }

    .fa-smile {
        color: $accentColour2;
    }
}

.wave2 {
    // display: none;
    width: 40vw;
    position: absolute;
    bottom: -96px;
    right: 30px;
    z-index: 5;
}