// Contact styles

.wave2 {
    width: 130px;
    position: absolute;
    top: -65px;
    right: 27px;
    z-index: 5;
}

#contact {
    background-color: $lightColour;

    h2:before {
        content: '\f0e0';
        color: $accentColour1;
    }
}

form {
    @include flexBox(column, flex-end, flex-end)
}

.oneLine {
    width: 100%;
    @include flexBox(column, center, center);
}

input,
textarea {
    border:none;
    width:100%;
    margin: 5px 0;
    padding: 10px;

    &#name{
         border: 2px solid $accentColour;

        &:focus {
            box-shadow: 7px 7px 15px transparentize($accentColour,0.7);
        }
    }

    &#email{
        border: 2px solid $accentColour2;

        &:focus {
            box-shadow: 7px 7px 15px transparentize($accentColour2,0.7);
        }
    }

    &#message {
         border: 2px solid $accentColour1;
         height: 15vh;

         &:focus {
            box-shadow: 7px 7px 15px transparentize($accentColour1,0.7);
        }
    }

    &[type="submit"] {
        width: auto;
        background-color: white;
        color: $accentColour1;
        border: 2px solid $accentColour;
        transition: background-color 0.3s, color 0.3s;

        &:hover {
            background-color: $accentColour2;
            // color: $lightColour;
        }
    }
}