// Footer styles

footer {
    @include flexBox();
    color: $lightColour;
    font-size: 1.3rem;
    background: $accentColour3;

    p {
        width: 100%;
        text-align: center;
    }

    .fa-smile {
        color: $lightColour;
        display: inline-block;
    }
}