// Global styles
html {
    font-size: 62.5%;
    
}

body {
    color: $darkColour;
    font-size: 1.6rem;
    font-family: $bodyFont;
}

header,
section,
footer {
    @include flexBox();
}

section {
    padding-bottom: 18px;

    a {
        text-decoration: none;
        position: relative;
        color: $accentColour1;

        &:hover {
            text-decoration: underline;
        }

        &:visited {
            color: $accentColour;
        }
    }
}

.wrapper {
    width: 70vw;
}

// ul {
//     margin: 0;
//     padding: 0;

//     li {
//         list-style-type: none;
//     }
// }

h2 {
    margin-top:0;
}

section .outside {
    align-self: flex-start;
    position: relative;
    top:22px;
    left:-32px;
}

