// Global styles
html {
    font-size: 62.5%;
    
}

body {
    color: $darkColour;
    font-size: 1.6rem;
    font-family: $bodyFont;
}

header,
section,
footer {
    @include flexBox();
}

.wrapper {
    width: 70vw;
}

a {
    text-decoration: none;
    transition: text-decoration 0.3s;
    position: relative;
    z-index: 10;

    &:visited {
        color: $accentColour;
    }
}

section .outside {
    align-self: flex-start;
    position: relative;
    top:42px;
    left:-20px;
}

