// Header styles

header {
    background-color: $accentColour1;
    height: 100vh;
    color: white;
    text-align: center;

    .grid {
        // display: none;
        width: 50vw;
        position: absolute;
        top: -7.5vh;
        left: -11.2vw;
    }

    .wave1 {
        width: 50vw;
        position: absolute;
        top: 40px;
        right: 0px;
    }

    .dots {
        width: 33vw;
        position: absolute;
        bottom: -9vh;
        right: 6px;
        z-index: 8;
    }

    .wave {
        transform: rotate(90deg);
        width: 40vw;
        position: absolute;
        bottom: -13vh;
        left: 0px;
        z-index: 8;
    }

    .wrapper {
        @include flexBox(column, center, center);
    }

    p {
        font-size: 1.4rem;
        margin: 10px 0;

        a {
            padding: 5px;
            text-decoration: none;
            color: white;
            transition: text-shadow 0.5s;
        }

        a:hover {
            text-shadow: 5px 5px rgba(255, 255, 255, 0.582);
        }
    }
}

h1 {
    color: white;
    font-size: 5rem;
    margin: 10px auto;
    font-family: $titleFont;
}

// nav styling

.menu {
    z-index: 20;
    color: black;
    font-size: 5rem;
    position: fixed;
    padding: 5px 10px;
    top: 7vh;
    right: 0vw;
    cursor: pointer;
    transition: transform 0.5s, text-shadow 0.5s;

    &:hover {
        transform: translateY(5px);
    }
}

.turn {
    transform: rotate(270deg) translateY(-1vw);

    &:hover {
        transform: translateY(5px);
    }
}

// will display:none mean SRs can still read it regardless of the element being on the screen?
.closed {
    display:none;
    width:140px;
}

.open {
    background: $accentColour1;
    display: block;
    z-index: 10;
    position: fixed;
    top: 11.7vh;
    right: 18vw;
}

.social {
    z-index: 10;
    width: 210px;
    @include flexBox(row, space-between, center);

    a {
        color: white;
        font-size: 3rem;
        transition: text-shadow 0.5s;

        &:hover {
            text-shadow: 5px 5px rgba(255, 255, 255, 0.582);
        }

        &:visited {
            color: $accentColour2;
        }
    }
}

nav {
    background-color: white;
    border: 2px solid black;
    @include bRadius();
    overflow-y: hidden;
    max-height: 232px;

    li {
        text-align: left;
        z-index: 1;
    }

    a {
        color: white;
        text-decoration: none;
        font-weight: 700;
        display: block;
        padding: 10px;
        position: relative;

        &:visited {
            color: $accentColour2;
        }

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            height:100%;
            width: 0px;
            bottom:0;
            top:0;
            left: 0;
            transition: width ease-in-out 0.3s; 
        }

        &:hover::before {
            width: 36px;
            background-color: $accentColour2;
        }
    }

    li:first-child a:before { 
        border-top-left-radius: 13px;
    }

    // icons in nav
    i {
        color: white;
        margin-right: 15px;
        z-index: 5;
    }
}