// Header styles

// nav styling

.menu {
    height: 5rem;
    position: fixed;
    top:10vh;
    left:0;
}

nav {
    // background-color: ;
    border: 2px solid $accentColour2;
    @include bRadius();

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style-type: none;

        a {
            color: $accentColour1;
            font-weight: 700;
            display: block;
            padding: 10px;

             &:before {
                content: "";
                position: absolute;
                z-index: -1;
                height:100%;
                width: 0px;
                bottom:0;
                left: 0;
                transition: width ease-in-out 0.3s; 
            }

            &:hover:before {
                width: 36px;
                background-color: $accentColour2;
            }


        }

        // &:first-child a:before { 
        //     border-top-right-radius: 13px;
        // }

        &:last-child a:before { 
            border-bottom-left-radius: 13px;
        }

        // icons in nav
        i {
            margin-right: 15px;
            color: white;
        }

    }
}

h1 {
    font-size: 5rem;
    font-family: $titleFont;
}