// Media queries (mobile first)

@media only screen and (min-width: 400px) {
    .menu {
        right: 2.5vw;
    }

    // make skill icons display evenly
    #skills .iconContainer {
        padding: 30px 0 30px 20%;

        i {
            font-size: 2rem;
        }

        img {
            height: 1.7rem;
        }
    }
}

@media only screen and (min-width: 600px) {
    #skills .iconContainer{
        width: auto;
        padding: 30px 10px;
        @include flexBox();
        flex-wrap: wrap;

        i {
            font-size: 5rem;
        }

        img {
            height: 4.7rem;
        }

        .skill {
            @include flexBox(column, center, center);
            margin: 5px;
            width: calc((100% / 4) - 10px);

            // there were thirteen skills so to make a nice grid, get rid of one:
            &:last-of-type {
                display: none;
            }
        }
    }

    input {
        padding: 15px;
    }
}

@media only screen and (min-width: 800px) {
    #skills .iconContainer{
        i {
            font-size: 7rem;
        }

        img {
            height: 6.7rem;
        }
    }

    .oneLine {
        @include flexBox(row, space-between, center);
    }

    form {
        width: 80%;
        margin: 0 auto;

        #name,
        #email {
            width: calc(50% - 5px);
            display: inline-block;
        }
    }
}

@media only screen and (min-width: 1000px) {
    .menu {
        right: 2.5vw;
    }

    #skills .iconContainer {
        width: 100%;

        .skill {
            margin: 10px 5px;
            width: calc((100% / 6) - 10px);
        }
    }

    #work {
        .wave2 {
            width: 220px;
            top: -110px;
            right: 67px;
        }

        .project {
            @include flexBox(row, space-between, flex-start);
        }

        .half {
            justify-content: flex-start;
            align-items: flex-start;
        }

        .captions {
            position: relative;
            height: 45.8vh;
        }

        .projLinks {
            justify-content: flex-start;
            // get an opinion on this!
            position: absolute;
            bottom:0;
        }

        .captions.left {
            margin-right: 10px;
        }

        .captions.right {
            margin-left: 10px;
        }
    }
}

@media only screen and (min-width: 1000px) {
    form {
        width: 70%;
    }
}