
// nav styling

.navToggle {
    z-index: 40;
    color: $darkColour;
    font-size: 5rem;
    position: fixed;
    padding: 5px 20px;
    top: 7vh;
    right: 0vw;
    cursor: pointer;
    transition: transform 0.5s, text-shadow 0.5s;

    &:hover {
        transform: translateY(5px);
    }
}

.turn {
    transform: rotate(270deg) translateY(-1vw);

    &:hover {
        transform: rotate(270deg) translateY(-1vw) translateX(-5px);
    }
}

nav {
    display: none;
    width: 190px;
    z-index: 100;
    position: fixed;
    top: 11.7vh;
    right: 18vw;
    overflow-y: hidden;
    max-height: 232px;
    background-color: $lightColour;
    border: 2px solid $accentColour3;

    &.open {
        display: block;
    }

    li {
        text-align: left;
        position: relative;

         &::before {
            content: "";
            position: absolute;
            z-index: -1;
            height:100%;
            width: 0px;
            bottom:0;
            top:0;
            left: 0;
            background-color: $accentColour2;
            transition: width ease-in-out 0.4s; 
        }

        &:hover::before {
            width: 100%;
        }
        
    }

    a {
        color: $accentColour1;
        text-decoration: none;
        font-weight: 700;
        display: inline;
        text-align: right;
        padding: 7px;
    }

    // icons in nav
    i {
        width: 25px;
        z-index: 5;
        text-align: left;
        color: $lightColour;
        margin: 0 10px;
    }
}