// Skills styles

#skills {
    background-color: $accentColour2;
    border-top: 10px dotted $accentColour3;

    h2:before {
        content: '\f6e3';
        font-weight: 600;
        color: $accentColour;
    }

    ul {
        margin: 0 auto;
        padding: 0;
        width: 70%;
    
        li {
            list-style-type: square;
            margin: 10px auto;
        }
    }

    p {
        font-weight: 700;
    }

    img {
        height: 1.8rem;
    }

    i,
    img {
        margin-right: 10px;
    }
}

.resume {
    font-size: 2rem;
    margin-top: 70px;
}

 // add labels to icons when mobile user clicks !!
    .iconContainer {
        padding: 30px 0 30px 10%;
        width: 80%;
        margin: 20px auto 0 auto;
        font-size: 1.7rem;
        background: rgba(255, 255, 255, 0.555);
        text-align: left;
    }

    .skill {
        transition: transform 0.35s;

        i {
            font-size: 2rem;
        }
    }