// Skills styles

#skills {
    background-color: $accentColour2;

    ul {
        margin: 0 auto;
        padding: 0;
        width: 70%;
    
        li {
            list-style-type: square;
            margin: 10px auto;
        }
    }

    p {
        font-weight: 700;
    }

    img {
        height: 3.7rem;
    }

    .fa-hammer {
        color: $accentColour;
    }
}

 // add labels to icons when mobile user clicks !!
    .iconContainer {
        width: 255px;
        margin: 0 auto;
        @include bRadius();
        font-size: 4rem;
        background: rgba(255, 255, 255, 0.555);
        text-align: center;
    }