// variables

$lightColour: #faf9f4;
$darkColour: #1A2518;
$accentColour: #FF4242;
$accentColourDark: #E60000;
$accentColour1: #5154e8;
$accentColour2:#F0CD04;
$accentColour3: #00916e;
$titleFont:'Major Mono Display', monospace;
$bodyFont: 'Montserrat', sans-serif;