// variables

$mainColour: #f3f3f3;
$darkColour: #1a1a1a;
$accentColour: #e20000;
$accentColour1: #1614ee;
$accentColour2:#f0cd04;
$titleFont:'Major Mono Display', monospace;
$bodyFont: 'B612 Mono', monospace;

