// Work styles

#work {
    border-bottom: 11px dotted $mainColour;
    position: relative;

    .fa-cubes {
        color: $accentColour1;
    }

    .screenshot{
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
}

h3 {
    margin-top:0;
}

.wave2 {
    width: 130px;
    position: absolute;
    top: -65px;
    right: 27px;
    z-index: 5;
}

.project {
    width: 100%;
    border-bottom: 4px dotted $accentColour1;
    padding: 30px 0;
}

.project4 {
    border-bottom: none;
}

.projLinks {
    width: 100%;
    margin-top: 30px;
    @include flexBox();

    a {
        font-weight: 700;
        color: $accentColour1;
        text-decoration: none;
        padding: 10px;
        border: 2px solid $accentColour2;
        transition: background 0.3s, color 0.3s, border 0.3s;
        @include bRadius();

        &:first-of-type {
            margin-right: 10px;
        }

        &:hover {
            color: $accentColour2;
            background: $accentColour1;
            border: 2px solid $accentColour1;
        }
    }
}

.left {
    order: -1;
}

.half {
    width: 100%;
    @include flexBox(column, center, center);
}

.tools {
    color: $accentColour;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.captions {
    margin-top: 30px;
}
