// Work styles

#work {
    border-bottom: 11px dotted $mainColour;

    .fa-cubes {
        color: $accentColour1;
    }

    .screenshot {
        position: relative;
    }

    .shot {
        border-radius: 5px;
        // min-width: 200px;
        width:60%;
        position: absolute;
        top:0;
        left:0;
    }

    .laptop {
        width: 100%;
        max-width: 500px;
    }
}

