article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

header {
  background-color: #1614ee;
  height: 100vh;
  color: white;
  text-align: center; }
  header .grid {
    width: 50vw;
    position: absolute;
    top: -7.5vh;
    left: -11.2vw; }
  header .wave1 {
    width: 50vw;
    position: absolute;
    top: 40px;
    right: 0px; }
  header .dots {
    width: 33vw;
    position: absolute;
    bottom: -9.5vh;
    right: 6px;
    z-index: 10; }
  header .wave {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 40vw;
    position: absolute;
    bottom: -7vh;
    left: 0px;
    z-index: 10; }
  header .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  header p {
    font-size: 1.4rem; }

h1 {
  color: white;
  font-size: 5rem;
  margin: 10px auto;
  font-family: "Major Mono Display", monospace; }

.menu {
  z-index: 20;
  color: black;
  font-size: 5rem;
  position: fixed;
  padding: 5px 10px;
  top: 7vh;
  right: 0vw;
  cursor: pointer;
  -webkit-transition: text-shadow 0.5s, -webkit-transform 0.5s;
  transition: text-shadow 0.5s, -webkit-transform 0.5s;
  -o-transition: transform 0.5s, text-shadow 0.5s;
  transition: transform 0.5s, text-shadow 0.5s;
  transition: transform 0.5s, text-shadow 0.5s, -webkit-transform 0.5s; }

.turn {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.closed {
  display: none;
  width: 140px; }

.open {
  display: block;
  z-index: 10;
  position: fixed;
  top: 11.7vh;
  right: 18vw; }

.social {
  width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .social a {
    color: white;
    font-size: 3rem;
    -webkit-transition: text-shadow 0.5s;
    -o-transition: text-shadow 0.5s;
    transition: text-shadow 0.5s; }
    .social a:hover {
      text-shadow: 5px 5px rgba(255, 255, 255, 0.582); }
    .social a:visited {
      color: #f0cd04; }

nav {
  background-color: white;
  border: 2px solid #f0cd04;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow-y: hidden;
  max-height: 210px; }
  nav li {
    text-align: left;
    z-index: 1; }
  nav a {
    color: #1614ee;
    text-decoration: none;
    font-weight: 700;
    display: block;
    padding: 10px;
    position: relative; }
    nav a:visited {
      color: #e20000; }
    nav a::before {
      content: "";
      position: absolute;
      z-index: -1;
      height: 100%;
      width: 0px;
      bottom: 0;
      top: 0;
      left: 0;
      -webkit-transition: width ease-in-out 0.3s;
      -o-transition: width ease-in-out 0.3s;
      transition: width ease-in-out 0.3s; }
    nav a:hover::before {
      width: 36px;
      background-color: #f0cd04; }
  nav li:first-child a:before {
    border-top-left-radius: 13px; }
  nav i {
    color: white;
    margin-right: 15px;
    z-index: 5; }

html {
  font-size: 62.5%; }

body {
  color: #1a1a1a;
  font-size: 1.6rem;
  line-height: 1.3;
  font-family: "B612 Mono", monospace; }

header,
section,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

section {
  padding-bottom: 18px; }
  section a {
    text-decoration: none;
    position: relative;
    color: #1614ee; }
    section a:hover {
      text-decoration: underline; }
    section a:visited {
      color: #e20000; }

.wrapper {
  width: 80vw; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style-type: none; }

h2 {
  margin-top: 0; }

section .outside {
  -ms-flex-item-align: start;
  align-self: flex-start;
  position: relative;
  top: 25px;
  left: -25px; }

#about {
  background-color: #f3f3f3;
  position: relative; }
  #about .fa-smile {
    color: #f0cd04; }

.wave2 {
  width: 40vw;
  position: absolute;
  bottom: -96px;
  right: 30px;
  z-index: 5; }

#work {
  border-bottom: 11px dotted #f3f3f3; }
  #work .fa-cubes {
    color: #1614ee; }
  #work .screenshot {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 1em 0; }

.tools {
  color: #e20000;
  font-size: 1.3rem;
  margin-bottom: 1em; }

#skills {
  background-color: #f0cd04; }
  #skills ul {
    margin: 0 auto;
    padding: 0;
    width: 70%; }
    #skills ul li {
      list-style-type: square;
      margin: 10px auto; }
  #skills p {
    font-weight: 700; }
  #skills img {
    height: 3.7rem; }
  #skills .fa-hammer {
    color: #e20000; }

.iconContainer {
  width: 255px;
  margin: 0 auto;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 4rem;
  background: rgba(255, 255, 255, 0.555);
  text-align: center; }

#contact {
  background-color: #f3f3f3;
  height: calc(100vh - 50px); }
  #contact h2 {
    font-family: "Major Mono Display", monospace; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

input {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  width: 100%;
  margin: 5px 0;
  padding: 10px 10px; }
  input#name {
    border: 2px solid #e20000; }
  input#email {
    border: 2px solid #f0cd04; }
  input#message {
    border: 2px solid #1614ee;
    height: 15vh; }
  input[type="submit"] {
    width: auto;
    background-color: white;
    color: #e20000;
    border: 2px solid #e20000;
    -webkit-transition: background-color 0.3s, color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s;
    transition: background-color 0.3s, color 0.3s; }
    input[type="submit"]:hover {
      background-color: #e20000;
      color: white; }
  input:focus {
    -webkit-box-shadow: 5px 5px 10px rgba(26, 26, 26, 0.3);
    box-shadow: 5px 5px 10px rgba(26, 26, 26, 0.3); }

footer {
  color: white;
  font-size: 1.3rem;
  background: #1614ee; }
  footer .fa-smile {
    color: white; }
  footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

@media only screen and (min-width: 450px) {
  #skills .iconContainer {
    width: 365px; } }

@media only screen and (min-width: 600px) {
  #skills .iconContainer {
    width: 456px;
    font-size: 7rem; }
    #skills .iconContainer img {
      height: 6.7rem; } }

@media only screen and (min-width: 850px) {
  #skills .iconContainer {
    width: 680px;
    font-size: 7rem; }
    #skills .iconContainer img {
      height: 6.7rem; } }
